[package]
name = "nutstore-ignore-builder"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"

[profile.release]
opt-level = "z"
lto = "fat"
codegen-units = 1
panic = "abort"
incremental = false
debug = false
debug-assertions = false
strip = true
